/* Про компанию */







.features-list {
	display: flex;
	flex-wrap: wrap;

}


/* задает отступ справа всем элементам списка, кроме каждого 4го,
 начиная с 4го */
.feature-item:not(:last-child) {
	margin-right: 30px;
}

.feature-item {
	width: calc((100% - 90px) / 4);
}

.feature-item__wrapper {
	width: 100%;
	height: 120px;
	margin-bottom: 30px;

	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	background-color: $secondary-background-color;
}

.feature-item__title {
	margin-bottom: 10px;
	color: $title-text-color;
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}
